@charset "UTF-8";

body{
	font-family: 'Noto Serif JP', sans-serif;
	background-color: #EBE9EA;
	text-align: center;
}

h1{
	font-size: 32px;
	color: #D5BDAE;
}

h2{
	font-size: 28px;
	color:#D5BDAE;
}

table{
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse:  collapse;
}
	
.todo-list{
	background-color: #EBE9EA;
	color:#34251F
}
.btn{
	color: white;
	background-color: #544C40;
	border-bottom: 5px solid #544C20;
}

.btn:hover{
	margin-top: 3px;
	  color: white;
	  background: #34251F;
	  border-bottom: 2px solid #342500;
}

.error-msg {
    color: red;
}

