<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録TOP</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2>ToDo登録</h2>
	
	<form th:action="@{/regist-todo}" method="POST"
			th:object="${toDoRegistForm}">
		ユーザーID<br>
		<input type="text" th:field="*{userId}"><br>
		<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="error-msg"></div>
		<br>
		タイトル<br>
		<input type="text" th:field="*{title}"><br>
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-msg"></div>
		<br>
		本文<br>
		<input type="text" th:field="*{content}"><br>
		<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-msg"></div>
		<br>
		メモ<br>
		<input type="text" th:field="*{notes}"><br>
		<div th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}" class="error-msg"></div>
		<br>
		リミット<br>
		<input type="date" th:field="*{limitDate}"><br>
		<div th:if="${#fields.hasErrors('limitDate')}" th:errors="*{limitDate}" class="error-msg"></div>
		<br>
		場所<br>
		<input type="text" th:field="*{place}"><br>
		<div th:if="${#fields.hasErrors('place')}" th:errors="*{place}" class="error-msg"></div>
		<br>
		<input type="submit" value="登録" class="btn">
	</form>
	
	<br>
	<a th:href="@{/todo-top}">ToDoトップ</a>

</body>
</html>