<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップメニュー</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>ToDo-List</h1>

<form th:action="@{/search-todo}" method="POST" th:object="${toDoSearchForm}">
	User IDを入力<br>
	<input type="text" th:field="*{userId}"><br>
	<br>
	<input type="submit" value="検索" class="btn">
</form>
	
	<div th:if="${todolist} != null">
		
			<table class="todo-list">
				<tr>
					<th>　</th><th>ユーザーID</th><th>タイトル</th><th>内容</th><th>メモ</th><th>リミット</th><th>場所</th><th>登録日</th>
				</tr>
				<tr th:each="todo : ${todolist}" th:if="${!todo.status}">
					<td>
						<form th:action="@{/edit-todo}" method="POST">
							<input type="hidden" name="contentId" th:value="${todo.contentId}">
							<input type="hidden" name="userId" th:value="${todo.userId}">
							<input type="hidden" name="title" th:value="${todo.title}">
							<input type="hidden" name="content" th:value="${todo.content}">
							<input type="hidden" name="notes" th:value="${todo.notes}">
							<input type="hidden" name="limitDate" th:value="${todo.limitDate}">
							<input type="hidden" name="place" th:value="${todo.place}">
							<input type="submit" value="編集" class="btn">
						</form>
						<form th:action="@{/finish-todo}" method="POST">
							<input type="hidden" name="contentId" th:value="${todo.contentId}">
							<input type="submit" value="完了" class="btn">
						</form>
					</td>
					<td th:text="${todo.userId}"></td>
					<td th:text="${todo.title}"></td>
					<td th:text="${todo.content}"></td>
					<td th:text="${todo.notes}"></td>
					<td th:text="${todo.limitDate}"></td>
					<td th:text="${todo.place}"></td>
					<td th:text="${todo.registDate}"></td>
				</tr>
			</table>

	</div>
		<br>
		<br>
		<br>
		<a th:href="@{/regist-todo}">ToDoを登録</a>
		
	<div th:if="${todolist} != null">
		<br>
		<br>
		<a th:href="@{/todo-top}">トップページに戻る</a>
	</div>

	
</body>
</html>